.bg-lighttomato{
    background-color: rgb(188, 104, 89);   /*tomato light*/
}
.text-lighttomato{
    color:rgb(188, 104, 89);
}

.bg-aliceblue{
    background-color:aliceblue;
}
.text-aliceblue{
    color: aliceblue;
}

.bg-lightblue{                              /*light blue*/     
    background-color: rgb(49, 93, 128);
}
.text-lightblue{
    color: rgb(169, 200, 226);
}

.bg-lightpink{
    background-color:#FAEBD7;
}
.bg-darkaqua{
    background-color:rgb(20, 98, 72);
}

.bg-bisque{
    background-color:rgb(246, 191, 124);
}

.bg-voilet{
    background-color:rgb(165, 127, 200);
}

.bg-lightbrown{
    background-color:rgb(168, 78, 78);
}

.bg-blurywood{
    background-color:rgb(91, 69, 40);
}

.bg-chocolate{
    background-color:#D2691E;
}

.bg-coral{
    background-color:#FF7F50;
}

.bg-lightgrey{
    background-color:rgb(202, 195, 195);
}


.bg-darkgrey{
    background-color:rgb(89, 86, 86);
}


.bg-sweetred{
    background-color:rgb(159, 79, 79);
}

.bg-lightgreen{
    background-color:rgb(142, 224, 141);
}

.bg-darkgreen{
    background-color:rgb(21, 128, 50);
}

.bg-khaki{
    background-color:khaki;
}

.bg-lightsalmon{
    background-color:#FFA07A;
}

.bg-sweetred{
    background-color:rgb(159, 79, 79);
}

.bg-sweetred{
    background-color:rgb(159, 79, 79);
}
.bg-nextblue{
    background-color: rgb(76, 76, 108);
}
/*from*/
.bg-darkblue{
    background-color:#0a213a;
}
.text-darkblue{
    color:#0a213a;
}
.text-tomato{
    color:#d82e21;
}
.bg-darklightblue{
    background-color:#13375e;
}
.bg-orange{
    background-color: #f07342;
}
.text-lightblue{
    color:rgb(194, 194, 234);
}



